<!DOCTYPE html>

<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

    <head>
        <meta charset="UTF-8">
        <title>Login</title>

    </head>

    <div class="container-scroller">
        <div id="app">
            <div id="sidebar" class="active">
                <div class="sidebar-wrapper active">
                    <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                        <div class="d-flex justify-content-between">
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{/images/color_logo.png}" style="height:8rem;" alt="Logo"
                                        srcset=""></a>
                            </div>
                            <div class="toggler">
                                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-menu">
                        <ul class="menu" style="margin:0px;">

                            <li class="sidebar-item ">
                                <a th:href="@{/admin}" class='sidebar-link'>
                                    <i class="bi bi-person-fill"></i>
                                    <span>Account</span>
                                </a>
                            </li>

                            <li class="sidebar-item has-sub active ">
                                <a href="#" class="sidebar-link">
                                    <i class="bi bi-stack"></i>
                                    <span>Activities</span>
                                </a>
                                <ul class="submenu" style="display: block;">
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/hostel}">Hostel</a>
                                    </li>
                                    <li class="submenu-item active">
                                        <a th:href="@{/admin/student}">Students</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/warden}">Warden</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/medin}">Medical Incharge</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/messin}">Mess Incharge</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/wash}">Washermen</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item  ">
                                <a th:href="@{/logout}" class='sidebar-link'>
                                    <i class="bi bi-box-arrow-left"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
                </div>
            </div>
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="main-panel">
                    <div class="content-wrapper">
                        
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Students List</h4>
                                        <p class="card-description">List of All Students
                                        </p>
                                        <div class="col-3">
											<a type="button" class="btn btn-block btn-primary btn-md font-weight-medium auth-form-btn" th:href="@{/admin/student/change_laundary}">Change laundary eligibility</a>        								</div>
        								<br><br>
                                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                            <table class="table table-striped">
                                                <thead
                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                    <tr>
                                                        <th style="position:sticky;top:0;z-index:100;">Roll Number</th>
                                                        <th style="position:sticky;top:0;z-index:100;">Name</th>
                                                        <th style="position:sticky;top:0;z-index:100">Verified</th>
                                                        <th style="position:sticky;top:0;">More</th>
                                                    </tr>
                                                </thead>
                                                <tbody>


                                                    <tr th:each="student:${students}">
                                                        <td th:text="${student.roll_number}"/> 
                                                        
                                                        <td th:text="${studentuser.get(student).name}"></td>
                                                         <td>
                                                        <span th:id="|s_${student.roll_number}|">
                                                        <!-- <span th:text="${student.is_verified}" style="font-size: 25px; ;color:red; font-weight:bolder"></span> -->
                                                        <span >
                                                            <span th:if="${student.is_verified}==0"><i class="bi bi-person-x-fill"></i></span>
                                                            <span th:if="${student.is_verified}==1"><i class="bi bi-person-check-fill"></i></span>
                                                        </span>
                                                        <script>
															function change(id){
    															let id1 = "s_"+id;
    															let id2 = "change_"+id;
    															if(document.getElementById(id2).style.display){
             															document.getElementById(id2).style.removeProperty('display');
             															document.getElementById(id1).style.display= 'none';
    															}
    															else{
             															document.getElementById(id1).style.removeProperty('display');
             															document.getElementById(id2).style.display= 'none';
    															}
															}
														</script>
                                                        <i class="bi bi-pen-fill" th:onclick="'javascript:change(' + ${student.roll_number} + ');'"></i>
														 
                                                        </span>
                                                        <span th:id="|change_${student.roll_number}|" style="display:none">
          													<form th:action="@{/admin/student/edit/{sid} (sid=${student.roll_number})}" method="POST">
          														<!-- <input type="number" th:name="verify" th:value="${student.is_verified}"  style="width:50px;"/> -->
                                                                                                
                                                                    <input type="checkbox" class="form-check-input" th:name="verify" value="1"  th:checked="${student.is_verified}==1">
                                                                        <i class="input-helper"></i>
                                                                <input type="hidden" th:name="verify" value="0">
                                                                   
                                                                  
                                                                  
                                                               
          														<!-- <button type="submit" id="submit" style="padding:0px;border: none;background: none;"><i class="bi bi-check2" style="padding: 5px 0px 0px 0px; font-size: 20px; color:green; font-weight: 1000;"></i></button> -->
                                                                <button class="btn btn-warning btn-sm" type="submit" id="submit">set</button>
          													</form>
        												</span>
        												
                                                        </td>
                                                        
                                                        <td>
                                                            <div class="modal fade" th:id="|del-confirm-${student.roll_number}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog " role="document">
                                                                    <div class="modal-content card-light-danger">
                                                                        <div class="modal-header ">
                                                                            <h4 class="modal-title" id="exampleModalLabel" th:text="${studentuser.get(student).name}"></h4>
                                                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div style="white-space:normal;line-height: 160%;">
                                                                              
                                                                               
                                                                                    
                                                                                    <p><strong>Roll Number : </strong><span th:text="${student.roll_number}"></span></p>
                                                                                    <p><strong>Name : </strong> <span th:text="${studentuser.get(student).name}"></span></p>
                                                                                    <p><strong>Date of Birth : </strong><span th:text="${studentuser.get(student).dob}"></span></p>
                                                                                    <p><strong>Email ID : </strong> <span th:text="${studentuser.get(student).email_id}"></span></p>
                                                                                    <p><strong>Contact : </strong><span th:text="${studentuser.get(student).contact}"></span></p>
                                                                                    <p><strong>Gender : </strong><span th:text="${studentuser.get(student).gender}"></span></p>
                                                                                    <p><strong>Mess Refund : </strong> <span th:text="${student.mess_refund}"></span></p>
                                                                                    <p><strong>Bank Account Number : </strong><span th:text="${student.bank_account_no}"></span></p>
                                                                                    <p><strong>Due Wash Charges : </strong><span th:text="${student.due_wash_charges}"></span></p>
                                                                                    <p><strong>Eligible for Laundary : </strong><span th:if="${student.is_eligible_laundary}==0">No</span>
                                                                                    <span th:if="${student.is_eligible_laundary}==1">Yes</span>
                                                                                    </p>
                                                                                  <p><strong>Room Number : </strong><span th:text="${student.room_number}"></span></p>
                                                                                <p><strong>Hostel : </strong><span th:text="${studenthostel.get(student).hostel_name}"></span></p>
                                                                                   
                                                                                   
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <button data-bs-toggle="modal" th:data-bs-target="|#del-confirm-${student.roll_number}|"
                                                             
                                                                data-whatever="@getbootstrap" style="border:none;"><i class="bi bi-box-arrow-right"></i></button>
                                                           
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>