<!DOCTYPE html>

<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

    <head>
        <meta charset="UTF-8">
        <title>Login</title>

    </head>

    <div class="container-scroller">
        <div id="app">
            <div id="sidebar" class="active">
                <div class="sidebar-wrapper active">
                    <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                        <div class="d-flex justify-content-between">
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{images/color_logo.png}" style="height:8rem;" alt="Logo"
                                        srcset=""></a>
                            </div>
                            <div class="toggler">
                                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-menu">
                        <ul class="menu" style="margin:0px;">

                            <li class="sidebar-item ">
                                <a th:href="@{/admin}" class='sidebar-link'>
                                    <i class="bi bi-person-fill"></i>
                                    <span>Account</span>
                                </a>
                            </li>

                            <li class="sidebar-item has-sub active ">
                                <a href="#" class="sidebar-link">
                                    <i class="bi bi-stack"></i>
                                    <span>Activities</span>
                                </a>
                                <ul class="submenu" style="display: block;">
                                    <li class="submenu-item active ">
                                        <a th:href="@{/admin/hostel}">Hostel</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/student}">Students</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/warden}">Warden</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/medin}">Medical Incharge</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/messin}">Mess Incharge</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/wash}">Washermen</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item  ">
                                <a th:href="@{/logout}" class='sidebar-link'>
                                    <i class="bi bi-box-arrow-left"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
                </div>
            </div>
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="main-panel">
                    <div class="content-wrapper">

                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Hostel List</h4>
                                        <p class="card-description">List of Registered Hostels
                                        </p>
                                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                            <table class="table table-striped">
                                                <thead
                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                    <tr>
                                                        <th style="position:sticky;top:0;z-index:100;">HostelId</th>
                                                        <th style="position:sticky;top:0;z-index:100;">Hostel Name</th>
                                                        <th style="position:sticky;top:0;"></th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                   
                                                    <tr th:each="hostel:${hostels}" >
                                                        <td th:text ="${hostel.hostel_id}"/>
                                                        <td th:text="${hostel.hostel_name}" />
                                                        <td>
                                                        <div class="modal fade" id="del-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog " role="document">
                                                                <div class="modal-content card-light-danger">
                                                                    <div class="modal-header ">
                                                                        <h4 class="modal-title" id="exampleModalLabel">Delete Hostel</h4>
                                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">×</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div style="white-space:normal;line-height: 160%;">
                                                                            <div class="row justify-content-center">
                                                                                <h1>&emsp;&emsp;&emsp;&emsp;&emsp;<i class="text-danger bi bi-exclamation-triangle"></i></h1>
                                                                                <br>
                                                                            </div>
                                                        
                                                                            Are you absolutely sure you want to delete Hostel?
                                                                            <br>
                                                                            <b>Please note that there is no option to restore the Hostel or its related data once it is deleted.</b>
                                                                            <br>
                                                                            <br>
                                                                            <a type="button" class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn"
                                                                                th:href="@{/admin/hostel/delete}">
                                                                                Confirm
                                                                                Delete</a>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#del-confirm"
                                                            data-whatever="@getbootstrap">Delete</button>
                                                        </td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content card-light-danger">
                                                    <div class="modal-header ">
                                                        <h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i>
                                                            Add Hostel</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                        
                                        
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/admin/hostel}" method="POST" th:object="${newhostel}">
                                        
                                    
                                        
                                                            
                                        
                                                            <div class="form-group">
                                                                <label for="name">Hostel Name</label>
                                                                <input type="text" id="name" name="name"  th:field="*{hostel_name}" class="form-control form-control-lg" placeholder="Hostel Name">
                                                            </div>
                                                           
                                                           
                                        
                                                            <div class="mt-3">
                                                                <input type="submit" value="Add"
                                                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                                            </div>
                                                        </form>
                                                    </div>
                                        
                                                </div>
                                            </div>
                                        </div>
                                            <div style="text-align:center; padding:20px;" class="col-lg-3 mx-auto">
                                        <button class="btn btn-primary btn-block font-weight-medium"  data-bs-toggle="modal" data-bs-target="#update_modal">Add new Hostel</button>
                                        </div>
                                            
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>