<!DOCTYPE html>

<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

    <head>
        <meta charset="UTF-8">
        <title>Add Washerman</title>

    </head>

    <div class="container-scroller">
        <div id="app">
            <div id="sidebar" class="active">
                <div class="sidebar-wrapper active">
                    <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                        <div class="d-flex justify-content-between">
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{/images/color_logo.png}" style="height:8rem;" alt="Logo"
                                        srcset=""></a>
                            </div>
                            <div class="toggler">
                                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-menu">
                        <ul class="menu" style="margin:0px;">

                            <li class="sidebar-item ">
                                <a th:href="@{/admin}" class='sidebar-link'>
                                    <i class="bi bi-person-fill"></i>
                                    <span>Account</span>
                                </a>
                            </li>

                            <li class="sidebar-item has-sub active ">
                                <a href="#" class="sidebar-link">
                                    <i class="bi bi-stack"></i>
                                    <span>Activities</span>
                                </a>
                                <ul class="submenu" style="display: block;">
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/hostel}">Hostel</a>
                                    </li>
                                    
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/student}">Students</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/warden}">Warden</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/medin}">Medical Incharge</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a th:href="@{/admin/messin}">Mess Incharge</a>
                                    </li>
                                    <li class="submenu-item active">
                                        <a th:href="@{/admin/wash}">Washermen</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item  ">
                                <a th:href="@{/logout}" class='sidebar-link'>
                                    <i class="bi bi-box-arrow-left"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
                </div>
            </div>
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="main-panel">
                    <div class="content-wrapper">

                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Washermen List</h4>
                                        <p class="card-description">List of All Washermen
                                        </p>
                                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                            <table class="table table-striped">
                                                <thead
                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                    <tr>
                                                        <th style="position:sticky;top:0;z-index:100;">Washerman Id</th>
                                                        
                                                        <th style="position:sticky;top:0;z-index:100;">Hostel Name</th>
                                                        <th style="position:sticky;top:0;z-index:100;">Washerman Info</th>
                                                        <th style="position:sticky;top:0;z-index:100;">Edit/Delete</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="washerman:${washers}">
                                                        <td th:text="${washerman.washer_id}"></td>         
                                                        <td th:text="${washermanhostel.get(washerman).hostel_name}"></td>
                                                        <td ><span th:text="${washermanuser.get(washerman).name}"></span>
                                                            <div class="modal fade" th:id="|del-confirm-${washermanuser.get(washerman).user_id}|" tabindex="-1"
                                                                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog " role="document">
                                                                    <div class="modal-content card-light-danger">
                                                                        <div class="modal-header ">
                                                                            <h4 class="modal-title" id="exampleModalLabel"
                                                                                th:text="${washermanuser.get(washerman).name}"></h4>
                                                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div style="white-space:normal;line-height: 160%;">
                                                            
                                                            
                                                            
                                                            
                                                                                <p><strong>Name : </strong> <span th:text="${washermanuser.get(washerman).name}"></span>
                                                                                </p>
                                                                                <p><strong>Date of Birth : </strong><span
                                                                                        th:text="${washermanuser.get(washerman).dob}"></span></p>
                                                                                <p><strong>Email ID : </strong> <span
                                                                                        th:text="${washermanuser.get(washerman).email_id}"></span></p>
                                                                                <p><strong>Contact : </strong><span
                                                                                        th:text="${washermanuser.get(washerman).contact}"></span></p>
                                                                                <p><strong>Gender : </strong><span
                                                                                        th:text="${washermanuser.get(washerman).gender}"></span></p>
                                                                                <p><strong>Bank Account Number : </strong><span th:text="${washerman.account_no}"></span></p>
                                                                                <p><strong>Upi ID : </strong><span th:text="${washerman.upi_id}"></span></p>
                                                                                <p><strong>Cost of sheet (wash) : </strong>₹ <span th:text="${washerman.cost_sheet_wash}"></span></p>
                                                                                <p><strong>Cost of sheet (iron) : </strong>₹ <span th:text="${washerman.cost_sheet_iron}"></span></p>
                                                                                <p><strong>Cost of lower (wash) : </strong>₹ <span th:text="${washerman.cost_lower_wash}"></span></p>
                                                                                <p><strong>Cost of lower (iron) : </strong>₹ <span th:text="${washerman.cost_lower_iron}"></span></p>
                                                                                <p><strong>Cost of upper (wash) : </strong>₹ <span th:text="${washerman.cost_upper_wash}"></span></p>
                                                                                <p><strong>Cost of upper (iron) : </strong>₹ <span th:text="${washerman.cost_upper_iron}"></span></p>
                                                                                <p><strong>Total Money Earned : </strong>₹ <span th:text="${washerman.total_money_earned}"></span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                                            th:data-bs-target="|#del-confirm-${washermanuser.get(washerman).user_id}|" data-whatever="@getbootstrap"
                                                            style="border:none;background-color:none ;"><i class="bi bi-box-arrow-right"></i></button></td>
                                                        </td>
                                                
                                                        <td>
                                                            <button class="btn btn-sm btn-warning" data-bs-toggle="modal" th:data-bs-target="|#update_modal_${washerman.washer_id}|">Edit</button>
                                                            <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#del-confirm" data-whatever="@getbootstrap">Delete</button>
                                                            <div class="modal fade" th:id="|update_modal_${washerman.washer_id}|" tabindex="-1"
                                                                role="dialog" aria-labelledby="exampleModalLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content card-light-danger">
                                                                        <div class="modal-header ">
                                                                            <h4 class="modal-title"
                                                                                id="exampleModalLabel">Edit Washerman
                                                                            </h4>
                                                                            <button type="button" class="close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form th:action="@{/admin/wash/edit/{washer_id}(washer_id=${washerman.washer_id})}" method="POST" th:object=${newwasher}>
                                                                            	<div class="form-group">
                                                                					<label for="name">Washerman Name</label>
                                                                					<input type="text" id="name" th:name="name" class="form-control form-control-lg" placeholder="Washerman Name" th:value="${washermanuser.get(washerman).name}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">Date of birth</label>
                                                                					<input type="text" id="name" th:name="dob" class="form-control form-control-lg" placeholder="DOB" th:value="${washermanuser.get(washerman).dob}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">Contact</label>
                                                                					<input type="text" id="name" th:name="contact" class="form-control form-control-lg" placeholder="Contact" th:value="${washermanuser.get(washerman).contact}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">Account Number</label>
                                                                					<input type="text" id="name" th:name="account_no" class="form-control form-control-lg" placeholder="Account Number" th:value="${washerman.account_no}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">UPI ID</label>
                                                                					<input type="text" id="name" th:name="upi_id" class="form-control form-control-lg" placeholder="UPI ID" th:value="${washerman.upi_id}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">Cost Sheet Wash</label>
                                                                					<input type="text" id="name" th:name="cost_sheet_wash" class="form-control form-control-lg" placeholder="Cost Sheet Wash" th:value="${washerman.cost_sheet_wash}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">Cost Sheet Iron</label>
                                                                					<input type="text" id="name" th:name="cost_sheet_iron" class="form-control form-control-lg" placeholder="Cost Sheet Iron" th:value="${washerman.cost_sheet_iron}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">Cost Lower Wash</label>
                                                                					<input type="text" id="name" th:name="cost_lower_wash" class="form-control form-control-lg" placeholder="Cost Lower Wash" th:value="${washerman.cost_lower_wash}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">Cost Lower Iron</label>
                                                                					<input type="text" id="name" th:name="cost_lower_iron" class="form-control form-control-lg" placeholder="Cost Lower Iron" th:value="${washerman.cost_lower_iron}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">Cost Upper Wash</label>
                                                                					<input type="text" id="name" th:name="cost_upper_wash" class="form-control form-control-lg" placeholder="Cost Upper Wash" th:value="${washerman.cost_upper_wash}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                                					<label for="name">Cost Upper Iron</label>
                                                                					<input type="text" id="name" th:name="cost_upper_iron" class="form-control form-control-lg" placeholder="Cost Upper Iron" th:value="${washerman.cost_upper_iron}" required>
                                                            					</div>
                                                            					<div class="form-group">
                                                        					    	<select class="form-control-xl dropdown" th:name="gender" placeholder="Gender" id="gender" th:value="${washermanuser.get(washerman).gender}" required>
                               															 <option value="Male" th:selected="${washermanuser.get(washerman).gender}=='Male'">Male</option>
                                														 <option value="Female" th:selected="${washermanuser.get(washerman).gender}=='Female'">Female</option>
                         															</select>
                          														</div>
                                                            					<div class="mt-3">
                                                                					<input type="submit" value="Edit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"/>
                                                            					</div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                                
                                                            <div class="modal fade" th:id="del-confirm" tabindex="-1"
                                                                role="dialog" aria-labelledby="exampleModalLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog " role="document">
                                                                    <div class="modal-content card-light-danger">
                                                                        <div class="modal-header ">
                                                                            <h4 class="modal-title"
                                                                                id="exampleModalLabel">Delete Washerman
                                                                            </h4>
                                                                            <button type="button" class="close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div
                                                                                style="white-space:normal;line-height: 160%;">
                                                                                <div class="row justify-content-center">
                                                                                    <h1>&emsp;&emsp;&emsp;&emsp;&emsp;<i
                                                                                            class="text-danger bi bi-exclamation-triangle"></i>
                                                                                    </h1>
                                                                                    <br>
                                                                                </div>

                                                                                Are you absolutely sure you want to
                                                                                delete washerman?
                                                                                <br>
                                                                                <b>Please note that there is no option
                                                                                    to restore the washerman or its related
                                                                                    data once it is deleted.</b>
                                                                                <br>
                                                                                <br>
                                                                                <a type="button"
                                                                                    class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn"
                                                                                    th:href="@{/admin/wash/delete}">
                                                                                    Confirm
                                                                                    Delete</a>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal fade" id="update_modal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content card-light-danger">
                                                    <div class="modal-header ">
                                                        <h4 class="modal-title" id="exampleModalLabel"><i
                                                                class="ti-info-alt"></i>
                                                            Add Washerman</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <form th:action="@{/admin/wash}" method="POST" th:object="${newuser}">
                                                            <div class="form-group">
                                                                <label for="name">Washerman Name</label>
                                                                <input type="text" id="name" name="name" class="form-control form-control-lg" placeholder="Washerman Name" th:field="*{name}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Email ID</label>
                                                                <input type="email" id="name" name="name" class="form-control form-control-lg" placeholder="Email ID" th:field="*{email_id}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Password</label>
                                                                <input type="password" id="name" name="name" class="form-control form-control-lg" placeholder="Password" th:field="*{psw}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Date of Birth</label>
                                                                <input type="date" id="name" name="name" class="form-control form-control-lg" placeholder="dob" th:field="*{dob}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Contact</label>
                                                                <input type="number" id="name" name="name" class="form-control form-control-lg" placeholder="Contact" th:field="*{contact}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Account No.</label>
                                                                <input type="text" id="name" name="name" class="form-control form-control-lg" placeholder="Account No." th:field="${newwasher.account_no}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">UPI ID</label>
                                                                <input type="text" id="name" name="name" class="form-control form-control-lg" placeholder="UPI ID" th:field="${newwasher.upi_id}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Cost Sheet Wash</label>
                                                                <input type="number" id="name" name="name" class="form-control form-control-lg" placeholder="Cost Sheet Wash" th:field="${newwasher.cost_sheet_wash}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Cost Sheet Iron</label>
                                                                <input type="number" id="name" name="name" class="form-control form-control-lg" placeholder="Cost Sheet Iron" th:field="${newwasher.cost_sheet_iron}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Cost Lower Wash</label>
                                                                <input type="number" id="name" name="name" class="form-control form-control-lg" placeholder="Cost Lower Wash" th:field="${newwasher.cost_lower_wash}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Cost Lower Iron</label>
                                                                <input type="number" id="name" name="name" class="form-control form-control-lg" placeholder="Cost Lower Iron" th:field="${newwasher.cost_lower_iron}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Cost Upper Wash</label>
                                                                <input type="number" id="name" name="name" class="form-control form-control-lg" placeholder="Cost Upper Wash" th:field="${newwasher.cost_upper_wash}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Cost Upper Iron</label>
                                                                <input type="number" id="name" name="name" class="form-control form-control-lg" placeholder="Cost Upper Iron" th:field="${newwasher.cost_upper_iron}" required>
                                                            </div>
                                                            <div class="form-group">
                                                            	<select class="form-control-xl dropdown" name="gender" placeholder="Gender" id="gender" th:field="*{gender}" required>
                               										 <option value="Male">Male</option>
                                									 <option value="Female">Female</option>
                         										</select>
                          									</div>
                                                            <div class="form-group">
                                                            	<select class="form-control-xl dropdown" name="hostel" placeholder="Hostel" id="hostel" th:field="${newwasher.hostel_id}" required>
                               										 <option th:each="hostel : ${hostels}" th:value="${hostel.hostel_id}" th:text="${hostel.hostel_name}"></option>		
                         										</select>
                          									</div>
                                                            <div class="mt-3">
                                                                <input type="submit" value="Add" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                                            </div>

                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align:center; padding:20px;" class="col-lg-3 mx-auto">
                                            <button class="btn btn-primary btn-block font-weight-medium"
                                                data-bs-toggle="modal" data-bs-target="#update_modal">Add new
                                                Washerman</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>