<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- favicon -->
</head>
<body>
    <div id="auth">
    <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left" style="padding-top:20px;padding-left:70px;padding-right:70px;">
                    <div class="auth-logo" style="margin:0px;">
                        <a th:href="@{/}"><img th:src="@{images/color_logo.png}" style="height:9rem;" alt="Logo"></a>
                    </div>
                <h1 class="auth-title" style="padding-top:0px;">Log in.</h1>
                <p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p>
                         
    <form class="pt-3" th:action="@{/login}" method="post">
        <p class="alert alert-danger" th:if="${param.error}">Invalid email or password.</p>
        <div class="form-group position-relative has-icon-left mb-4">
        <input class="form-control form-control-xl" type="email" placeholder="Email Address" name="email_id"  id="email_id"  required autofocus><br>
        <div class="form-control-icon">
            <i class="bi bi-envelope"></i>
        </div>
        </div>
        <div class="form-group position-relative has-icon-left mb-4">
        <input class="form-control form-control-xl" type="password" name="psw" placeholder="Password"  id="psw" required>
        <div class="form-control-icon">
            <i class="bi bi-shield-lock"></i>
        </div>
        </div>
        
        <input type="submit" value="Log in" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
       </form>
<div class="text-center mt-5 text-lg fs-4">
    <p class="text-gray-600">Don't have an account? <a th:href="@{/register}" class="font-bold">Sign
            up</a>.</p>

   
</div>
    </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block" style="background-image: url('@{images/auth/login-bg.jpg}');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color:rgb(102, 93, 223);">
    </div>
    </div>
    </div>
</body>
</html>


