<!DOCTYPE html>

<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

    <head>
        <meta charset="UTF-8">
        <title>Login</title>
		

    </head>

    <div class="container-scroller">
        <div id="app">
            <div id="sidebar" class="active">
                <div class="sidebar-wrapper active">
                    <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                        <div class="d-flex justify-content-between">
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{/images/color_logo.png}" style="height:8rem;" alt="Logo"
                                        srcset=""></a>
                            </div>
                            <div class="toggler">
                                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-menu">
                        <ul class="menu" style="margin:0px;">

                            <li class="sidebar-item ">
                                <a th:href="@{/medical}" class='sidebar-link'>
                                    <i class="bi bi-person-fill"></i>
                                    <span>Account</span>
                                </a>
                            </li>

                            <li class="sidebar-item has-sub active ">
                                <a href="#" class="sidebar-link">
                                    <i class="bi bi-stack"></i>
                                    <span>Activities</span>
                                </a>
                                <ul class="submenu" style="display: block;">
                                <li class="submenu-item">
                                    <a th:href="@{/medical/appointments}">Appointments</a>
                                </li>
                                <li class="submenu-item active">
                                    <a th:href="@{/medical/medicine}">Medicines</a>
                                </li>
                               <li class="submenu-item">
                                    <a th:href="@{/medical/complaints}">Complaints</a>
                                </li>
                                </ul>
                            </li>
                            <li class="sidebar-item  ">
                                <a th:href="@{/logout}" class='sidebar-link'>
                                    <i class="bi bi-box-arrow-left"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
                </div>
            </div>
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="main-panel">
                    <div class="content-wrapper">

                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Medicines List</h4>
                                        <p class="card-description">List of Medicines
                                        </p>
                                        
                                        <div class="card">
                  <div class="card-header">
                  </div>
                  <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#allmed" role="tab" aria-controls="home" aria-selected="true">All Medicines</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#less_stock" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Medicines with less stock</a>
                      </li>
                     
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade active show" id="allmed" role="tabpanel" aria-labelledby="home-tab">
                        <p class="my-2">
<div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                            <table class="table table-striped">
                                                <thead
                                                    style="position:sticky;top:0;background-color: white;">
                                                    <tr>
                                                    	
                                                        <th style="position:sticky;top:0;">Medicine Id</th>
                                                        <th style="position:sticky;top:0;">Medicine Name</th>
                                                        <th style="position:sticky;top:0;">Stock</th>
                                                        <th style="position:sticky;top:0;"></th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                   
                                                    <tr th:each="medicine:${medicines}" >
                                                    
                                                        <td th:text ="${medicine.medicine_id}"/>
                                                       
                                                        <td  th:text="${medicine.medicine_name}" />
                                                       
                                                        
                                                        <td>
                                                        <span th:id="|ss_${medicine.medicine_id}|">
                                                        <span th:text="${medicine.quantity_in_stock}" th:if="${medicine.quantity_in_stock<10}" style="font-size: 25px; ;color:red; font-weight:bolder"></span>
                                                        <span th:text="${medicine.quantity_in_stock}" th:if="${medicine.quantity_in_stock>=10}"></span>
                                                        <script>
															function change1(id){
    															let id1 = "ss_"+id;
    															let id2 = "changes_"+id;
    															if(document.getElementById(id2).style.display){
             															document.getElementById(id2).style.removeProperty('display');
             															document.getElementById(id1).style.display= 'none';
    															}
    															else{
             															document.getElementById(id1).style.removeProperty('display');
             															document.getElementById(id2).style.display= 'none';
    															}
															}
														</script>
                                                        <i class="bi bi-pen-fill" th:onclick="'javascript:change1(' + ${medicine.medicine_id} + ');'"></i>

                                                        </span>
                                                        <span th:id="|changes_${medicine.medicine_id}|" style="display:none">
          													<form th:action="@{/medical/medicine/edit/{med_id} (med_id=${medicine.medicine_id})}" method="POST">
          														<input type="number" th:name="stock" th:value="${medicine.quantity_in_stock}" style="width:50px;"/>
          														<button type="submit" id="submit" style="padding: 0;border: none;background: none;"><i class="bi bi-check2-circle" style="padding: 5px 0px 0px 0px; font-size: 20px; color:green; font-weight: 1000;"></i></button>
          													</form>
        												</span>
        												
                                                        </td>
                                                    	<td>
                                                    	<button class="btn btn-sm btn-danger" data-bs-toggle="modal" th:data-bs-target="|#del-confirm_${medicine.medicine_id}|" data-whatever="@getbootstrap">Delete</button>

                                                    	</td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                           <div style="text-align:center; padding:20px;" class="col-lg-3 mx-auto">
                                        <button class="btn btn-primary btn-block font-weight-medium"  data-bs-toggle="modal" data-bs-target="#update_modal">Add new Medicine</button>
                                        </div>
                        </p>
                      </div>
                      <div class="tab-pane fade" id="less_stock" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                            <table class="table table-striped">
                                                <thead
                                                    style="position:sticky;top:0;background-color: white;">
                                                    <tr>
                                                    	
                                                        <th style="position:sticky;top:0;">Medicine Id</th>
                                                        <th style="position:sticky;top:0;">Medicine Name</th>
                                                        <th style="position:sticky;top:0;">Stock</th>
                                                        <th style="position:sticky;top:0;"></th>
                                                        
                                                    </tr>
                                                </thead>
                                                 <tbody>

                                                   
                                                    <tr th:each="medicine:${less_stock_medicines}" >
                                                    
                                                        <td th:text ="${medicine.medicine_id}"/>
                                                       
                                                        <td  th:text="${medicine.medicine_name}" />
                                                       
                                                        
                                                        <td>
                                                        <span th:id="|s_${medicine.medicine_id}|">
                                                        <span th:text="${medicine.quantity_in_stock}" th:if="${medicine.quantity_in_stock<10}" style="font-size: 25px; ;color:red; font-weight:bolder"></span>
                                                        <span th:text="${medicine.quantity_in_stock}" th:if="${medicine.quantity_in_stock>=10}"></span>
                                                        <script>
															function change(id){
    															let id1 = "s_"+id;
    															let id2 = "change_"+id;
    															if(document.getElementById(id2).style.display){
             															document.getElementById(id2).style.removeProperty('display');
             															document.getElementById(id1).style.display= 'none';
    															}
    															else{
             															document.getElementById(id1).style.removeProperty('display');
             															document.getElementById(id2).style.display= 'none';
    															}
															}
														</script>
                                                        <i class="bi bi-pen-fill" th:onclick="'javascript:change(' + ${medicine.medicine_id} + ');'"></i>
														 
                                                        </span>
                                                        <span th:id="|change_${medicine.medicine_id}|" style="display:none">
          													<form th:action="@{/medical/medicine/edit/{med_id} (med_id=${medicine.medicine_id})}" method="POST">
          														<input type="number" th:name="stock" th:value="${medicine.quantity_in_stock}"  style="width:50px;"/>
          														<button type="submit" id="submit" style="padding: 0;border: none;background: none;"><i class="bi bi-check2-circle" style="padding: 5px 0px 0px 0px; font-size: 20px; color:green; font-weight: 1000;"></i></button>
          													</form>
        												</span>
        												
                                                        </td>
                                                        
                                            
                                                    	
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
                						   <div th:each="medicine:${medicines}">
                                          
                                           <div class="modal fade" th:id="|del-confirm_${medicine.medicine_id}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog " role="document">
                                                                <div class="modal-content card-light-danger">
                                                                    <div class="modal-header ">
                                                                        <h4 class="modal-title" id="exampleModalLabel">Medicine Id</h4>
                                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">×</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div style="white-space:normal;line-height: 160%;">
                                                                            <div class="row justify-content-center">
                                                                                <h1>&emsp;&emsp;&emsp;&emsp;&emsp;<i class="text-danger bi bi-exclamation-triangle"></i></h1>
                                                                                <br>
                                                                            </div>
                                                        
                                                                            Are you absolutely sure you want to delete this medicine
                                                                            <br>
                                                                            <b>Please note that there is no option to restore it or its related data once it is deleted.</b>
                                                                            <br>
                                                                            <br>
                                                                            <form th:action="@{/medical/medicine/delete/{med_id} (med_id=${medicine.medicine_id})}" method="POST">
                                                                             <input type="submit" value="Confirm Delete" class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn"/>
                                                                            </form>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div></div>
                                        <div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content card-light-danger">
                                                    <div class="modal-header ">
                                                        <h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i>
                                                            Add Medicine</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                        
                                        
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/medical/medicine}" method="POST" th:object="${newmedicine}">
                                        
                                    
                                        
                                                            
                                        
                                                            <div class="form-group">
                                                                <label for="name">Medicine Name</label>
                                                                <input type="text" id="name" name="name"  th:field="*{medicine_name}" class="form-control form-control-lg" placeholder="Medicine Name" required>
                                                            </div>
                                                           <div class="form-group">
                                                                <label for="name">Stock</label>
                                                                <input type="number" id="name" name="name"  th:field="*{quantity_in_stock}" class="form-control form-control-lg" placeholder="Stock" required>
                                                            </div>
                                                           
                                        
                                                            <div class="mt-3">
                                                                <input type="submit" value="Add"
                                                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                                            </div>
                                                        </form>
                                                    </div>
                                        
                                                </div>
                                            </div>
                                        </div>
                                            
                                            
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</body>

</html>