<!DOCTYPE html>
<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

<head>
    <meta charset="UTF-8">
   
</head>

   <div class="container-scroller">
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a th:href="@{/}"><img th:src="@{images/color_logo.png}" style="height:8rem;"
                                    alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu" style="margin:0px;">

                        <li class="sidebar-item ">
                            <a th:href="@{/mess}" class='sidebar-link'>
                                <i class="bi bi-person-fill"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li class="sidebar-item has-sub  active">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-stack"></i>
                                <span>Activities</span>
                            </a>
                            <ul class="submenu" style="display: block;">
                                <li class="submenu-item active">
                                    <a th:href="@{/mess/menu}">Menu</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/mess/cancel}">Cancel Requests</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/mess/refund}">Refund Amount</a>
                                </li>
                               
                                <li class="submenu-item">
                                    <a th:href="@{/mess/complains}">Complaints</a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="sidebar-item  ">
                            <a th:href="@{/logout}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
           
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Mess Menu</h4>
                                        <p class="card-description">Menu of <span th:text="${hostel.hostel_name}"></span> Hostel
                                        </p>
                                        <div class="table-responsive" style="max-height: 1000px; overflow-y: auto;">
                                            <table class="table table-striped">
                                                <thead
                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                    <tr>
                                                        <th style="position:sticky;top:0;z-index:100;">Day</th>
                                                        <th style="position:sticky;top:0;z-index:100;">Breakfast</th>
                                                        <th style="position:sticky;top:0;z-index:100">Lunch</th>
                                                        <th style="position:sticky;top:0;">Dinner</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
													<tr th:each="daymenu: ${menu}">
														<td th:text="${days.get(daymenu.day_id)}"></td>
														<td th:text="${daymenu.breakfast}"></td>
														<td th:text="${daymenu.lunch}"></td>
														<td th:text="${daymenu.dinner}"></td>
														<td><button class="btn btn-sm btn-warning"  data-bs-toggle="modal" th:data-bs-target="|#update_modal_${daymenu.day_id}|">Edit</button> 

													</tr>
                                                </tbody>
                                            </table>
                                        </div>
                                         <div th:if=${add} style="text-align:center; padding:20px;" class="col-lg-3 mx-auto">
                                        <button class="btn btn-primary btn-block font-weight-medium"  data-bs-toggle="modal" data-bs-target="#update_modal">Add Menu</button>
                                        </div>
                                        
                                        <div th:each="daymenu: ${menu}">

											<div class="modal fade" th:id="|update_modal_${daymenu.day_id}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content card-light-danger">
                                                    <div class="modal-header ">
                                                        <h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i>
                                                            Edit Menu</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                        
                                        
                                                    </div>
                                                    <div class="modal-body">
                                                       <form th:action="@{/mess/menu/edit/{id}(id=${daymenu.day_id})}" method="POST" th:object="${newmenu}">
                                        					<h4 th:text="${days.get(daymenu.day_id)}"></h4>
                                        
 															<div class="form-group">
                                                                <label for="name">Breakfast</label>
                                                                <textarea type="text" id="name" th:name="breakfast"  rows="3" th:text="${daymenu.breakfast}" class="form-control form-control-lg" placeholder="Breakfast" required/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Lunch</label>
                                                                <textarea type="text" id="name" th:name="lunch"  th:text="${daymenu.lunch}" rows="3" class="form-control form-control-lg" placeholder="Lunch" required/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Dinner</label>
                                                                <textarea type="text" id="name" th:name="dinner" rows="3" th:text="${daymenu.dinner}" class="form-control form-control-lg" placeholder="Dinner" required/>
                                                            </div>
                                        
                                                            <div class="mt-3">
                                                                <input type="submit" value="Edit"
                                                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                                            </div>
                                                        </form>
                                                    </div>
                                        
                                                </div>
                                            </div>
                                        </div>
                                        
                                        </div>
                                        
                                        <div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content card-light-danger">
                                                    <div class="modal-header ">
                                                        <h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i>
                                                            Add Menu</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                        
                                        
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/mess/menu}" method="POST" th:object="${newmenu}">
                                        
                                    
                                        					<div class="form-group">
                                        						<label for="name">Day</label>
                                                            	<select class="form-control-xl dropdown" name="name" placeholder="Day" id="name" th:field="*{day_id}" required>
                               										<option th:each="day : ${add_day}" th:value="${day}" th:text="${days.get(day)}"></option>
                         										</select>
                          									</div>
                                                            
                                        
                                                            <div class="form-group">
                                                                <label for="name">Breakfast</label>
                                                                <textarea type="text" id="name" name="name"  rows="3" th:field="*{breakfast}" class="form-control form-control-lg" placeholder="Breakfast" required/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Lunch</label>
                                                                <textarea type="text" id="name" name="name" rows="3" th:field="*{lunch}" class="form-control form-control-lg" placeholder="Lunch" required/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Dinner</label>
                                                                <textarea type="text" id="name" name="name" rows="3" th:field="*{dinner}" class="form-control form-control-lg" placeholder="Dinner" required/>
                                                            </div>
                                        
                                                            <div class="mt-3">
                                                                <input type="submit" value="Add"
                                                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                                            </div>
                                                        </form>
                                                    </div>
                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Food Quantity</h4>
                                        <p>Total Students in Hostel: <span th:text="${number_students}"/></p>
                                        <div class="table-responsive" style="max-height: 1000px; overflow-y: auto;">
                                            <table class="table table-striped">
                                                <thead
                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                    <tr>
                                                        <th style="position:sticky;top:0;z-index:100;">Date</th>
                                                        <th style="position:sticky;top:0;z-index:100;">Breakfast</th>
                                                        <th style="position:sticky;top:0;z-index:100">Lunch</th>
                                                        <th style="position:sticky;top:0;">Dinner</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
													<tr th:each="date: ${dates}">
														<td th:text="${date}"></td>
														<td th:text="${count_date.get(date).get(0)}"></td>
														<td th:text="${count_date.get(date).get(1)}"></td>
														<td th:text="${count_date.get(date).get(2)}"></td>

													</tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                        
                                       
                                        
                                        
                                    </div>
                                </div>

                            </div>
                        </div>

             
                </div>
            </div>
        </div>
        </div>
        </div>
       

    
</html>
