<!DOCTYPE html>
<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
   
</head>

   <div class="container-scroller">
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a th:href="@{/}"><img th:src="@{/images/color_logo.png}" style="height:8rem;"
                                    alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu" style="margin:0px;">

                        <li class="sidebar-item active">
                            <a th:href="@{/student}" class='sidebar-link'>
                                <i class="bi bi-person-fill"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li class="sidebar-item has-sub  ">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-stack"></i>
                                <span>Activities</span>
                            </a>
                            <ul class="submenu" style="display: block;">
                                <li class="submenu-item">
                                    <a th:href="@{/student/medical}">Medical Facility</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/student/mess}">Mess Facility</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/student/washerman}">Washerman Facility</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/student/complain}">Complaints</a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="sidebar-item  ">
                            <a th:href="@{/logout}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
           
            <div class="main-panel">
                <div class="content-wrapper">
                                            <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Laundary Details</h4>
                                        <p style="font-size:17px">Due charges: Rs <span th:text="${due_charges}"></span></p>

										
                                         
                                       
                                        <div class="card">
                                            <div class="card-header">
                                            </div>
                                            <div class="card-body">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                            href="#washerman" role="tab" aria-controls="home"
                                                            aria-selected="true">Washerman</a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                            href="#allorders" role="tab" aria-controls="profile"
                                                            aria-selected="false" tabindex="-1">All Orders</a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                            href="#unwashed" role="tab" aria-controls="profile"
                                                            aria-selected="false" tabindex="-2">Unwashed orders</a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                            href="#unpaid" role="tab" aria-controls="profile"
                                                            aria-selected="false" tabindex="-3">Washed and Unpaid orders</a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                            href="#paid" role="tab" aria-controls="profile"
                                                            aria-selected="false" tabindex="-4">Washed and Paid orders</a>
                                                    </li>


                                                </ul>
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade active show" id="washerman" role="tabpanel"
                                                        aria-labelledby="home-tab">
                                                        <p class="my-2">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Washer Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Washerman Name</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Contact Number</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost of Wash</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost of Iron</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            Account Number</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            UPI id</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>


                                                                    <tr th:each="washerman:${allwasherman}">

                                                                        <td th:text="${washerman.washer_id}" />
                                                                        <td th:text="${userservice.findByUserId(washerman.user_id).name}" />
                                                                        <td th:text="${userservice.findByUserId(washerman.user_id).contact}" />
                                                                        
                                                                        <td>
                                                                            Sheet: Rs<span th:text="${washerman.cost_sheet_wash}" />
                                                                            <br>
                                                                            Upper: Rs<span th:text="${washerman.cost_upper_wash}" />
                                                                            <br>
                                                                            Lower: Rs<span th:text="${washerman.cost_lower_wash}" />

                                                                        </td>
                                                                        
                                                                        <td>
                                                                            Sheet: Rs<span th:text="${washerman.cost_sheet_iron}" />
                                                                            <br>
                                                                            Upper: Rs<span th:text="${washerman.cost_upper_iron}" />
                                                                            <br>
                                                                            Lower: Rs<span th:text="${washerman.cost_lower_iron}" />

                                                                        </td>
                                                                        <td th:text="${washerman.account_no}" />
                                                                        <td th:text="${washerman.upi_id}" />
                                                                        <td><a th:href="@{/student/washerman/{id}(id=${washerman.washer_id})}" class="btn btn-primary">Order</a></td>

                                                                       
                                                                        
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        </p>
                                                    </div>
                                                    <div class="tab-pane fade" id="allorders" role="tabpanel"
                                                        aria-labelledby="profile-tab">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Given to</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Quantity of Clothes</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Wash/Iron</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th>
																		
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
																	<tr th:each="order:${allorders}">
																		<td th:text="${order.order_id}"/>
																		<td th:text="${order.order_date}"/>
																		<span th:if=${order.washer_id}>
																		<td>Not good</td>
																		<td th:text="${userservice.findByUserId(washerservice.findByWasherId(order.washer_id).user_id).name}"/>
																		</span>
																		<span th:unless="${order.washer_id}">
																		<td>Washerman Details not available</td>
																		</span>
																		<td>
																			Uppers: <span th:text="${order.number_uppers}"/><br>
																			Lowers: <span th:text="${order.number_lowers}"/><br>
																			Sheet:  <span th:text="${order.number_sheets}"/>
																		</td>
																		<td>
																			<span th:if="${order.to_wash==1}">Wash</span>
																			<span th:if="${order.to_iron==1}"><br>Iron</span>
																		</td>
																		<td th:text="${order.cost}"/>
																		<td th:text="${order.status_of_orders}"/>
																	    
																	</tr>

                                                                    

                                                                </tbody>
                                                                
                                                            </table>
                                                            
                                                           
                                                        </div>
                                                    </div>
													<div class="tab-pane fade" id="unwashed" role="tabpanel"
                                                        aria-labelledby="profile-tab">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Given to</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Quantity of Clothes</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Wash/Iron</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th>
																		
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
																	<tr th:each="order:${orders_unwashed}">
																		<td th:text="${order.order_id}"/>
																		<td th:text="${order.order_date}"/>
																		
																		<span th:if=${order.washer_id}>
																		<td>Not good</td>
																		<td th:text="${userservice.findByUserId(washerservice.findByWasherId(order.washer_id).user_id).name}"/>
																		</span>
																		<span th:unless="${order.washer_id}">
																		<td>Washerman Details not available</td>
																		</span>																
																		<td>
																			Uppers: <span th:text="${order.number_uppers}"/><br>
																			Lowers: <span th:text="${order.number_lowers}"/><br>
																			Sheet:  <span th:text="${order.number_sheets}"/>
																		</td>
																		<td>
																			<span th:if="${order.to_wash==1}">Wash</span>
																			<span th:if="${order.to_iron==1}"><br>Iron</span>
																		</td>
																		<td th:text="${order.cost}"/>
																		<td th:text="${order.status_of_orders}"/>
																	</tr>

                                                                    

                                                                </tbody>
                                                                
                                                            </table>
                                                            
                                                           
                                                        </div>
                                                    </div>
													<div class="tab-pane fade" id="unpaid" role="tabpanel"
                                                        aria-labelledby="profile-tab">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Given to</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Quantity of Clothes</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Wash/Iron</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th>
																		
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
																	<tr th:each="order:${orders_unpaid}">
																		<td th:text="${order.order_id}"/>
																		<td th:text="${order.order_date}"/>
																		<span th:if=${order.washer_id}>
																		<td>Not good</td>
																		<td th:text="${userservice.findByUserId(washerservice.findByWasherId(order.washer_id).user_id).name}"/>
																		</span>
																		<span th:unless="${order.washer_id}">
																		<td>Washerman Details not available</td>
																		</span>
																		<td>
																			Uppers: <span th:text="${order.number_uppers}"/><br>
																			Lowers: <span th:text="${order.number_lowers}"/><br>
																			Sheet:  <span th:text="${order.number_sheets}"/>
																		</td>
																		<td>
																			<span th:if="${order.to_wash==1}">Wash</span>
																			<span th:if="${order.to_iron==1}"><br>Iron</span>
																		</td>
																		<td th:text="${order.cost}"/>
																		<td th:text="${order.status_of_orders}"/>
																	</tr>

                                                                    

                                                                </tbody>
                                                                
                                                            </table>
                                                            
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="paid" role="tabpanel"
                                                        aria-labelledby="profile-tab">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Given to</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Quantity of Clothes</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Wash/Iron</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th>
																		
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
																	<tr th:each="order:${orders_paid}">
																		<td th:text="${order.order_id}"/>
																		<td th:text="${order.order_date}"/>
																		<span th:if=${order.washer_id}>
																		<td>Not good</td>
																		<td th:text="${userservice.findByUserId(washerservice.findByWasherId(order.washer_id).user_id).name}"/>
																		</span>
																		<span th:unless="${order.washer_id}">
																		<td>Washerman Details not available</td>
																		</span>
																		<td>
																			Uppers: <span th:text="${order.number_uppers}"/><br>
																			Lowers: <span th:text="${order.number_lowers}"/><br>
																			Sheet:  <span th:text="${order.number_sheets}"/>
																		</td>
																		<td>
																			<span th:if="${order.to_wash==1}">Wash</span>
																			<span th:if="${order.to_iron==1}"><br>Iron</span>
																		</td>
																		<td th:text="${order.cost}"/>
																		<td th:text="${order.status_of_orders}"/>
																	</tr>

                                                                    

                                                                </tbody>
                                                                
                                                            </table>
                                                            
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                

                            </div>
                        </div>
             
                </div>
            </div>
        </div>
        </div>
        </div>
       

    
</html>
