<!DOCTYPE html>
<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
   
</head>

   <div class="container-scroller">
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a th:href="@{/}"><img th:src="@{images/color_logo.png}" style="height:8rem;"
                                    alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="sidebar-menu">
                    <ul class="menu" style="margin:0px;">

                        <li class="sidebar-item active">
                            <a th:href="@{/student}" class='sidebar-link'>
                                <i class="bi bi-person-fill"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li class="sidebar-item has-sub  ">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-stack"></i>
                                <span>Activities</span>
                            </a>
                            <ul class="submenu" style="display: block;">
                                <li class="submenu-item">
                                    <a th:href="@{/student/medical}">Medical Facility</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/student/mess}">Mess Facility</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/student/washerman}">Washerman Facility</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/student/complain}">Complaints</a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="sidebar-item  ">
                            <a th:href="@{/logout}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
           
            <div class="main-panel">
                       <div class="content-wrapper">

                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Complaints List</h4>
                                        <p class="card-description">List of Complaints
                                        </p>
										 <div style="text-align:left; padding:20px;" class="col-lg-3">
                                        <button class="btn btn-primary btn-block font-weight-medium"  data-bs-toggle="modal" data-bs-target="#update_modal">File a complaint</button>
                                        </div>
                                         <div th:each="complaint:${all_complaints}">
                                          
                                           <div class="modal fade" th:id="|del-confirm_${complaint.complaint_id}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                            aria-hidden="true">
                                                            <div class="modal-dialog " role="document">
                                                                <div class="modal-content card-light-danger">
                                                                    <div class="modal-header ">
                                                                        <h4 class="modal-title" id="exampleModalLabel">Cancel Complaint</h4>
                                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">×</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div style="white-space:normal;line-height: 160%;">
                                                                            <div class="row justify-content-center">
                                                                                <h1>&emsp;&emsp;&emsp;&emsp;&emsp;<i class="text-danger bi bi-exclamation-triangle"></i></h1>
                                                                                <br>
                                                                            </div>
                                                        
                                                                            Are you absolutely sure you want to cancel this Complaint?
                                                                            <br>
                                                                            <b>Please note that there is no option to restore it or its related data once it is deleted.</b>
                                                                            <br>
                                                                            <br>
                                                                            <form th:action="@{/student/complain/delete/{com_id}(com_id=${complaint.complaint_id})}" method="POST">
                                                                             <input type="submit" value="Confirm Delete" class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn"/>
                                                                            </form>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                          
                                                            	<div class="modal fade" th:id="|update_modal_${complaint.complaint_id}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content card-light-danger">
                                                    <div class="modal-header ">
                                                        <h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i>
                                                            Edit Complaint</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                        
                                        
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/student/complain/edit/{com_id}(com_id=${complaint.complaint_id})}" method="POST" th:object="${newcomplaint}">
                                                        	<h4>Complaint Id: <span th:text="${complaint.complaint_id}"></span></h4>
                                        					 <div class="form-group">
                                                                <label for="name">Complaint Description</label>
                                                                <input type="text" id="name" th:name="description" th:value="${complaint.description}" class="form-control form-control-lg" placeholder="Description" required>
                                                            </div>
                                                           <div class="form-group">
                                                                <label for="name">Complaint type</label>
                                                                <select class="form-control-xl dropdown" placeholder="Type" id="name" th:name="isPrivate" th:value="${complaint.isPrivate}" required>
                               										 <option value="0" th:selected=${0==complaint.isPrivate}>Public</option>
                               										 <option value="1" th:selected=${1==complaint.isPrivate}>Private</option>		
                         										</select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Complaint to</label>
                                                                <select class="form-control-xl dropdown" placeholder="Complaint to" id="name" th:name="type" th:value="${complaint.type}" required>
                               										 <option value="1" th:selected=${1==complaint.type}>Laundary</option>
                               										 <option value="2" th:selected=${2==complaint.type}>Mess</option>
                               										  <option value="3" th:selected=${3==complaint.type}>Warden</option>
                               										 <option value="4" th:selected=${4==complaint.type}>Healthcare</option>
                               										  <option value="5" th:selected=${5==complaint.type}>Other</option>
                               											
                         										</select>
                                                            </div>
                                                           
                                        					
                                                           
                                                           
                                        
                                                            <div class="mt-3">
                                                                <input type="submit" value="Edit"
                                                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                        
                                            </div>
                                            
                                        </div>	
                                                            
                                                            </div>
                                        <div class="modal fade" id="update_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog " role="document">
                                                <div class="modal-content card-light-danger">
                                                    <div class="modal-header ">
                                                        <h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i>
                                                            File a complaint</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                        
                                        
                                                    </div>
                                                    <div class="modal-body">
                                                         <form th:action="@{/student/complain}" method="POST" th:object="${newcomplaint}">

                                                           <div class="form-group">
                                                                <label for="name">Complain to</label>
                                                                <select class="form-control-xl dropdown" name="name" placeholder="Complain to" id="name" th:field="*{type}" required>
                               										 <option value="1">Laundary</option>
                               										 <option value="2">Mess</option>	
                               										 <option value="3">Warden</option>	
                               										 <option value="4">HealthCare</option>
                               										 <option value="5">Other</option>		
                         										</select>
                                                            </div>
                                                           <div class="form-group">
                                                                <label for="name">What is your Complain?</label>
                                                                <input type="text" id="name" name="name"  th:field="*{description}" class="form-control form-control-lg" placeholder="Description" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Choose Visibilty</label>
                                                                <select class="form-control-xl dropdown" name="name" placeholder="visibility" id="name" th:field="*{isPrivate}" required>
                               										 <option value="1">Private</option>
                               										 <option value="0">Public</option>	
                               				
                         										</select>
                                                            </div>
                                        
                                                            <div class="mt-3">
                                                                <input type="submit" value="Add"
                                                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                                            </div>
                                                        </form>
                                                    </div>
                                        
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                            </div>
                                            <div class="card-body">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                            href="#complain" role="tab" aria-controls="home"
                                                            aria-selected="true">My Complaints</a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                            href="#public" role="tab" aria-controls="profile"
                                                            aria-selected="false" tabindex="-1">Public Complaints</a>
                                                    </li>

                                                </ul>
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade active show" id="complain" role="tabpanel"
                                                        aria-labelledby="home-tab">
                                                        <p class="my-2">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Complaint_Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Description</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Complain to</th>    
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Complain Type</th>  
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th> 
                                                                         <th></th>
                                                                                 



                                                                    </tr>
                                                                </thead>
                                                                <tbody>


                                                                    <tr th:each="complaint:${all_complaints}">

                                                                        <td th:text="${complaint.complaint_id}" />
                                                                        <td th:text="${complaint.complain_date}" />
                                                                        
                                                                        <td th:text="${complaint.description}" />
                                                                        <td th:if="${complaint.type==1}">Laundary</td>
                                                                        <td th:if="${complaint.type==2}">Mess</td>
                                                                        <td th:if="${complaint.type==3}">Hostel</td>
                                                                        <td th:if="${complaint.type==4}">Medical</td>
                                                                        <td th:if="${complaint.type==5}">Other</td>
                                                                        <td th:if="${complaint.isPrivate==0}">Public</td>
                                                                        <td th:if="${complaint.isPrivate==1}">Private</td>
                                                                        <td th:text="${complaint.status}" />
                                                                         <td th:if="${complaint.status}=='Yet to Approve'" width="15%"><button class="btn btn-sm btn-warning"  data-bs-toggle="modal" th:data-bs-target="|#update_modal_${complaint.complaint_id}|">Edit</button> 
                                                						<button class="btn btn-sm btn-danger" data-bs-toggle="modal" th:data-bs-target="|#del-confirm_${complaint.complaint_id}|" data-whatever="@getbootstrap">Delete</button></td>
                                                                         <td th:if="${complaint.status}!='Yet to Approve'" width="15%"></td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        </p>
                                                    </div>
                                                    <div class="tab-pane fade" id="public" role="tabpanel"
                                                        aria-labelledby="profile-tab">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Complaint Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Complain By</th>  
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Description</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Complaint Type</th> 
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th>          
                                                                        



                                                                    </tr>
                                                                </thead>
                                                                <tbody>


                                                                    <tr th:each="complaint:${public_complaints}">

                                                                        <td th:text="${complaint.complaint_id}" />
                                                                        <td th:text="${complaint.complain_date}" />
                                                                        <td th:text="${userservice.findByUserId(service.getStudentbyId(complaint.student_roll_no).user_id).name}"/>
                                                                        <td th:text="${complaint.description}" />
                                                                        <td th:if="${complaint.type==1}">Laundary</td>
                                                                        <td th:if="${complaint.type==2}">Mess</td>
                                                                        <td th:if="${complaint.type==3}">Hostel</td>
                                                                         <td th:if="${complaint.type==4}">Medical</td>
                                                                         <td th:if="${complaint.type==5}">Other</td>
                                                                        <td th:text="${complaint.status}" />

                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                            
                                                           
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                

                            </div>
                        </div>
                        
                        
                    </div>
            </div>
        </div>
        </div>
        </div>
       

    
</html>
