<!DOCTYPE html>
<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
   
</head>

   <div class="container-scroller">
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a th:href="@{/}"><img th:src="@{/images/color_logo.png}" style="height:8rem;"
                                    alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu" style="margin:0px;">

                        <li class="sidebar-item active">
                            <a th:href="@{/student}" class='sidebar-link'>
                                <i class="bi bi-person-fill"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li class="sidebar-item has-sub  ">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-stack"></i>
                                <span>Activities</span>
                            </a>
                            <ul class="submenu" style="display: block;">
                                <li class="submenu-item">
                                    <a th:href="@{/student/medical}">Medical Facility</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/student/mess}">Mess Facility</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/student/washerman}">Washerman Facility</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/student/complain}">Complaints</a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="sidebar-item  ">
                            <a th:href="@{/logout}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
           
            <div class="main-panel">
                <div class="content-wrapper">
                    <section id="groups">
                        <div class="row match-height">
                            <div class="col-12 mt-3 mb-1">
                                <h4 class="section-title text-uppercase"></h4>
                            </div>
                        </div>
                        <div class="row match-height">
                            <div class="col-12">
                                <div class="card-group">
                                    <div class="card">   
                                    	<table class="table table-hover table-lg">
                                                <tbody>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Name</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class="mb-0" th:text="${user.name}">Name</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Hostel Name</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0" th:text="${hostel.hostel_name}">Hostel Name</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Email ID</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0" th:text="${user.email_id}">Email ID</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Gender</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0" th:text="${user.gender}">Gender</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Contact</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0" th:text="${user.contact}">Contact</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Date of Birth</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0" th:text="${user.dob}">DOB</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Roll Number</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class="mb-0" th:text="${student.roll_number}">roll_number</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Room Number</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class="mb-0" th:text="${student.room_number}">room_number</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Mess Refund</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class="mb-0" th:text="${student.mess_refund}">mess_refund</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Bank Account Number</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class="mb-0" th:text="${student.bank_account_no}">Bank acc no</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Eligible for Laundary</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class="mb-0" th:if="${student.is_eligible_laundary==1}">Yes</p>
                                                            <p class="mb-0" th:if="${student.is_eligible_laundary==0}">No</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Due wash charges</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class="mb-0" th:text="${student.due_wash_charges}">Due wash charges</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-bold ms-3 mb-0">Verified</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class="mb-0" th:if="${student.is_verified}==1">Yes</p>
                                                            <p class="mb-0" th:if="${student.is_verified}==0">No</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>	

											
                                        		<div class="modal fade" th:id="|update_modal_${user.user_id}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            		<div class="modal-dialog " role="document">
                                                		<div class="modal-content card-light-danger">
                                                    		<div class="modal-header ">
                                                        		<h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i> Edit Student Info</h4>
                                                        			<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            			<span aria-hidden="true">×</span>
                                                        			</button>                                                                                
                                                    		</div>
                                                    	<div class="modal-body">
                                                        	<form th:action="@{/student/edit/{id}(id=${user.user_id})}" method="POST" th:object="${newuser}">                                                                                                 
                                                            <div class="form-group">
                                                                <label for="name">Name</label>
                                                                <input type="text" id="name" class="form-control form-control-lg" placeholder="Student Name" th:name="name" th:value=${user.name} required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Date of Birth</label>
                                                                <input type="date" id="name" class="form-control form-control-lg" placeholder="dob" th:name="dob" th:value=${user.dob} required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Contact</label>
                                                                <input type="number" id="name" class="form-control form-control-lg" placeholder="contact" th:name="contact" th:value="${user.contact}" required>
                                                            </div>
                                                            <div class="form-group">
                                                            	<select class="form-control-xl dropdown" placeholder="Gender" id="gender" th:name="gender" th:value="${user.gender}" required>
                               										 <option value="Male">Male</option>
                                									 <option value="Female">Female</option>
                         										</select>
                          									</div>   
                          									<div class="form-group">
                                                                <label for="name">Room Number</label>
                                                                <input type="number" id="name" class="form-control form-control-lg" placeholder="room number" th:name="room_number" th:value="${student.room_number}" required>
                                                            </div> 
                                                            <div class="form-group">
                                                                <label for="name">Bank Account Number</label>
                                                                <input type="number" id="name" class="form-control form-control-lg" placeholder="bank account number" th:name="bank_account_no" th:value="${student.bank_account_no}" required>
                                                            </div>                       									
                                                            <div class="mt-3">
                                                                <input type="submit" value="Edit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"/>
                                                            </div>
                                                        	</form>
                                                    	</div>                                     
                                                	</div>
                                            	</div>
                                        	</div> 
                                        	<div class="modal fade" th:id="|change_password_${user.user_id}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            		<div class="modal-dialog " role="document">
                                                		<div class="modal-content card-light-danger">
                                                    		<div class="modal-header ">
                                                        		<h4 class="modal-title" id="exampleModalLabel"><i class="ti-info-alt"></i>Change student password/h4>
                                                        			<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                            			<span aria-hidden="true">×</span>
                                                        			</button>                                                                                
                                                    		</div>
                                                    	<div class="modal-body">
                                                        	<form th:action="@{/student/changepsw/{id}(id=${user.user_id})}" method="POST" th:object="${newUser}">                                                                                                 
                                                            <div class="form-group">
                                                                <label for="name">Old Password</label>
                                                                <input type="password" id="name" class="form-control form-control-lg" placeholder="Old Password" th:name="oldpsw" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">New Password</label>
                                                                <input type="password" id="name" class="form-control form-control-lg" placeholder="New Password" th:name="newpsw" required>
                                                            </div>
                                                                           									
                                                            <div class="mt-3">
                                                                <input type="submit" value="Edit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"/>
                                                            </div>
                                                        	</form>
                                                    	</div>                                     
                                                	</div>
                                            	</div>
                                        	</div>										                                 
                                 </div>                                                                      
                                </div>
                            </div>
                        </div>
                    </section>             
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
   				<div class="col-3">
        			<button class="btn btn-block btn-warning btn font-weight-medium auth-form-btn col-3" data-bs-toggle="modal" th:data-bs-target="|#update_modal_${user.user_id}|">Edit</button>	
   				</div>
   				<div class="col-3">
        			<button class="btn btn-block btn-primary btn font-weight-medium auth-form-btn col-3" data-bs-toggle="modal" th:data-bs-target="|#change_password_${user.user_id}|">Change Password</button>	
   				</div>
            </div>
        </div>
        </div>
        </div>           
</html>
