<!DOCTYPE html>
<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
   
</head>

   <div class="container-scroller">
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a th:href="@{/}"><img th:src="@{images/color_logo.png}" style="height:8rem;"
                                    alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu" style="margin:0px;">

                        <li class="sidebar-item active">
                            <a th:href="@{/warden}" class='sidebar-link'>
                                <i class="bi bi-person-fill"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li class="sidebar-item has-sub  ">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-stack"></i>
                                <span>Activities</span>
                            </a>
                            <ul class="submenu" style="display: block;">
                                <li class="submenu-item">
                                    <a th:href="@{/warden/all}">All Students</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/warden/complaints}">Complaints</a>
                                </li>
                                
                               
                            </ul>
                        </li>
                        <li class="sidebar-item  ">
                            <a th:href="@{/logout}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
           
            <div class="main-panel">
                       <div class="content-wrapper">

                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Students List</h4>
                                        <p class="card-description">List of all Students in the hostel
                                        </p>
										
                                        
                                        
                                        <div class="card">
                                            <div class="card-header">
                                            </div>
                                            <div class="card-body">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                            href="#all_students" role="tab" aria-controls="home"
                                                            aria-selected="true">All Students in the Hostel</a>
                                                    </li>
                                                </ul>
                                        <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade active show" id="all_students" role="tabpanel"
                                                        aria-labelledby="home-tab">
                                                        <p class="my-2">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Student Name</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Student Roll No.</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Student Room No.</th>    
                                                                        <th style="position:sticky;top:0;">More</th>    
                                                                              



                                                                    </tr>
                                                                </thead>
                                                                <tbody>


                                                                    <tr th:each="student:${students}">

                                                                        
                                                                        <td>
                                                                        	
                                                                        <span th:text="${userservice.findByUserId(service.getStudentbyId(student.roll_number).user_id).name}" />	
                                                                        </td>
                                                                         <td th:text="${student.roll_number}" />
                                                                        
                                                                        <td th:text="${student.room_number}" />
                                                                        
                                                        
                                                         <td>
                                                          <div class="modal fade" th:id="|del-confirm-${student.roll_number}|" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog " role="document">
                                                                    <div class="modal-content card-light-danger">
                                                                        <div class="modal-header ">
                                                                            <h4 class="modal-title" id="exampleModalLabel" th:text="${userservice.findByUserId(service.getStudentbyId(student.roll_number).user_id).name}"></h4>
                                                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div style="white-space:normal;line-height: 160%;">
                                                                              
                                                                               
                                                                                    
                                                                                    <p><strong>Roll Number : </strong><span th:text="${student.roll_number}"></span></p>
                                                                                     <p><strong>Name : </strong> <span th:text="${userservice.findByUserId(service.getStudentbyId(student.roll_number).user_id).name}"></span></p>
                                                                                    <p><strong>Date of Birth : </strong><span th:text="${userservice.findByUserId(service.getStudentbyId(student.roll_number).user_id).dob}"></span></p>
                                                                                    <p><strong>Email ID : </strong> <span th:text="${userservice.findByUserId(service.getStudentbyId(student.roll_number).user_id).email_id}"></span></p>
                                                                                    <p><strong>Contact : </strong><span th:text="${userservice.findByUserId(service.getStudentbyId(student.roll_number).user_id).contact}"></span></p>
                                                                                    <p><strong>Gender : </strong><span th:text="${userservice.findByUserId(service.getStudentbyId(student.roll_number).user_id).gender}"></span></p>
                                                                                    <p><strong>Mess Refund : </strong> <span th:text="${student.mess_refund}"></span></p>
                                                                                    <p><strong>Bank Account Number : </strong><span th:text="${student.bank_account_no}"></span></p>
                                                                                    <p><strong>Due Wash Charges : </strong><span th:text="${student.due_wash_charges}"></span></p>
                                                                                    <p><strong>Eligible for Laundary : </strong><span th:if="${student.is_eligible_laundary}==0">No</span>
                                                                                    <span th:if="${student.is_eligible_laundary}==1">Yes</span>
                                                                                    </p>
                                                                                    <p><strong>Room Number : </strong><span th:text="${student.room_number}"></span></p>
                                                                                
                                                                                   
                                                                                   
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button data-bs-toggle="modal" th:data-bs-target="|#del-confirm-${student.roll_number}|"
                                                             
                                                                data-whatever="@getbootstrap" style="border:none;">
                                                            <i class="bi bi-box-arrow-right"></i></button>
                                                           
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        </p>
                                                    </div>
                                                     </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                

                            </div>
                        </div>
                        
                        
                    </div>
            </div>
        </div>
        </div>
        </div>