<!DOCTYPE html>
<body lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
   
</head>

   <div class="container-scroller">
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header" style="padding-top:10px; padding-bottom:0px;">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a th:href="@{/}"><img th:src="@{images/color_logo.png}" style="height:8rem;"
                                    alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu" style="margin:0px;">

                        <li class="sidebar-item active">
                            <a th:href="@{/washerman}" class='sidebar-link'>
                                <i class="bi bi-person-fill"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li class="sidebar-item has-sub  ">
                            <a href="#" class="sidebar-link">
                                <i class="bi bi-stack"></i>
                                <span>Activities</span>
                            </a>
                            <ul class="submenu" style="display: block;">
                                <li class="submenu-item">
                                    <a th:href="@{/washerman/order}">Orders</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/washerman/due}">Due Charges</a>
                                </li>
                                <li class="submenu-item">
                                    <a th:href="@{/washerman/complaint}">Complaints</a>
                                </li>
                                
                               
                            </ul>
                        </li>
                        <li class="sidebar-item  ">
                            <a th:href="@{/logout}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
           
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">List of Orders</h4>
                                        
                                        
										
                                        
                                       
                                        <div class="card">
                                            <div class="card-header">
                                            </div>
                                            <div class="card-body">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                            href="#allorders" role="tab" aria-controls="home"
                                                            aria-selected="true">All orders</a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                            href="#unwashed" role="tab" aria-controls="profile"
                                                            aria-selected="false" tabindex="-1">Unwashed orders</a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                            href="#unpaid" role="tab" aria-controls="profile"
                                                            aria-selected="false" tabindex="-2">Washed and Unpaid orders</a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                            href="#paid" role="tab" aria-controls="profile"
                                                            aria-selected="false" tabindex="-3">Washed and Paid orders</a>
                                                    </li>

                                                </ul>
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade active show" id="allorders" role="tabpanel"
                                                        aria-labelledby="home-tab">
                                                        <p class="my-2">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Student Details</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Quantity of Clothes</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Wash/Iron</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th>
																		
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
																	<tr th:each="order:${allorders}">
																		<td th:text="${order.order_id}"/>
																		<td th:text="${order.order_date}"/>
																		<td>
                                                                        	<span th:text="${userservice.findByUserId(service.getStudentbyId(order.student_roll_no).user_id).name}" />
                                                                        	<br>
                                                                        	Roll No.->
                                                                        	<span th:text="${order.student_roll_no}";/>
                                                                            <br>
                                                                        	Room No.->
                                                                        	<span th:text="${service.getStudentbyId(order.student_roll_no).room_number}";/>
                                                                        </td>
																		<td>
																			Uppers: <span th:text="${order.number_uppers}"/><br>
																			Lowers: <span th:text="${order.number_lowers}"/><br>
																			Sheet:  <span th:text="${order.number_sheets}"/>
																		</td>
																		<td>
																			<span th:if="${order.to_wash==1}">Wash</span>
																			<span th:if="${order.to_iron==1}"><br>Iron</span>
																		</td>
																		<td th:text="${order.cost}"/>
																		<td>
																		<span th:id="|s1_${order.order_id}|">
                                                       
                                                        <span th:text="${order.status_of_orders}"></span>
                                                        <script>
															function change1(id){
    															let id1 = "s1_"+id;
    															let id2 = "change1_"+id;
    															if(document.getElementById(id2).style.display){
             															document.getElementById(id2).style.removeProperty('display');
             															document.getElementById(id1).style.display= 'none';
    															}
    															else{
             															document.getElementById(id1).style.removeProperty('display');
             															document.getElementById(id2).style.display= 'none';
    															}
															}
														</script>
                                                        <i class="bi bi-pen-fill" th:onclick="'javascript:change1(' + ${order.order_id} + ');'"></i>
														 
                                                        </span>
                                                        <span th:id="|change1_${order.order_id}|" style="display:none">
          													<form th:action="@{/washerman/order/edit/{id} (id=${order.order_id})}" method="POST" th:object=${neworder}>
          														<select class="form-control-xl dropdown" th:name="status_of_orders" placeholder="Status" id="status" th:value="${order.status_of_orders}" required>
                               										 <option value="Unwashed" th:selected="${order.status_of_orders}=='Unwashed'">Unwashed</option>
                                									 <option value="Washed and Unpaid" th:selected="${order.status_of_orders}=='Washed and Unpaid'">Washed and Unpaid</option>
                                									 <option value="Washed and Paid" th:selected="${order.status_of_orders}=='Washed and Paid'">Washed and Paid</option>
                                									 
                         										</select>
                         										 <button type="submit" id="submit" style="padding: 0;border: none;background: none;"><i class="bi bi-check2-circle" style="padding: 5px 0px 0px 0px; font-size: 20px; color:green; font-weight: 1000;"></i></button>
          													</form>
        												</span>
																		
																		</td>
																	</tr>

                                                                    

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        </p>
                                                    </div>
                                                    <div class="tab-pane fade" id="unwashed" role="tabpanel"
                                                        aria-labelledby="profile-tab">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Student Details</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Quantity of Clothes</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Wash/Iron</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th>
																		
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
																	<tr th:each="order:${orders_unwashed}">
																		<td th:text="${order.order_id}"/>
																		<td th:text="${order.order_date}"/>
																		<td>
                                                                        	<span th:text="${userservice.findByUserId(service.getStudentbyId(order.student_roll_no).user_id).name}" />
                                                                        	<br>
                                                                        	Roll No.->
                                                                        	<span th:text="${order.student_roll_no}";/>
                                                                            <br>
                                                                        	Room No.->
                                                                        	<span th:text="${service.getStudentbyId(order.student_roll_no).room_number}";/>
                                                                        </td>
																		<td>
																			Uppers: <span th:text="${order.number_uppers}"/><br>
																			Lowers: <span th:text="${order.number_lowers}"/><br>
																			Sheet:  <span th:text="${order.number_sheets}"/>
																		</td>
																		<td>
																			<span th:if="${order.to_wash==1}">Wash</span>
																			<span th:if="${order.to_iron==1}"><br>Iron</span>
																		</td>
																		<td th:text="${order.cost}"/>
																		<td>
																		<span th:id="|s2_${order.order_id}|">
                                                       
                                                        <span th:text="${order.status_of_orders}"></span>
                                                        <script>
															function change2(id){
    															let id1 = "s2_"+id;
    															let id2 = "change2_"+id;
    															if(document.getElementById(id2).style.display){
             															document.getElementById(id2).style.removeProperty('display');
             															document.getElementById(id1).style.display= 'none';
    															}
    															else{
             															document.getElementById(id1).style.removeProperty('display');
             															document.getElementById(id2).style.display= 'none';
    															}
															}
														</script>
                                                        <i class="bi bi-pen-fill" th:onclick="'javascript:change2(' + ${order.order_id} + ');'"></i>
														 
                                                        </span>
                                                        <span th:id="|change2_${order.order_id}|" style="display:none">
          													<form th:action="@{/washerman/order/edit/{id} (id=${order.order_id})}" method="POST" th:object=${neworder}>
          														<select class="form-control-xl dropdown" th:name="status_of_orders" placeholder="Status" id="status" th:value="${order.status_of_orders}" required>
                               										 <option value="Unwashed" th:selected="${order.status_of_orders}=='Unwashed'">Unwashed</option>
                                									 <option value="Washed and Unpaid" th:selected="${order.status_of_orders}=='Washed and Unpaid'">Washed and Unpaid</option>
                                									 <option value="Washed and Paid" th:selected="${order.status_of_orders}=='Washed and Paid'">Washed and Paid</option>
                                									 
                         										</select>
                         										 <button type="submit" id="submit" style="padding: 0;border: none;background: none;"><i class="bi bi-check2-circle" style="padding: 5px 0px 0px 0px; font-size: 20px; color:green; font-weight: 1000;"></i></button>
          													</form>
        												</span>
																		
																		</td>
																		
																	</tr>

                                                                    

                                                                </tbody>
                                                                
                                                            </table>
                                                            
                                                           
                                                        </div>
                                                    </div>
													<div class="tab-pane fade" id="unpaid" role="tabpanel"
                                                        aria-labelledby="profile-tab">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Student Details</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Quantity of Clothes</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Wash/Iron</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th>
																		
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
																	<tr th:each="order:${orders_unpaid}">
																		<td th:text="${order.order_id}"/>
																		<td th:text="${order.order_date}"/>
																		<td>
                                                                        	<span th:text="${userservice.findByUserId(service.getStudentbyId(order.student_roll_no).user_id).name}" />
                                                                        	<br>
                                                                        	Roll No.->
                                                                        	<span th:text="${order.student_roll_no}";/>
                                                                            <br>
                                                                        	Room No.->
                                                                        	<span th:text="${service.getStudentbyId(order.student_roll_no).room_number}";/>
                                                                        </td>
																		<td>
																			Uppers: <span th:text="${order.number_uppers}"/><br>
																			Lowers: <span th:text="${order.number_lowers}"/><br>
																			Sheet:  <span th:text="${order.number_sheets}"/>
																		</td>
																		<td>
																			<span th:if="${order.to_wash==1}">Wash</span>
																			<span th:if="${order.to_iron==1}"><br>Iron</span>
																		</td>
																		<td th:text="${order.cost}"/>
																		<td>
																		<span th:id="|s3_${order.order_id}|">
                                                       
                                                        <span th:text="${order.status_of_orders}"></span>
                                                        <script>
															function change3(id){
    															let id1 = "s3_"+id;
    															let id2 = "change3_"+id;
    															if(document.getElementById(id2).style.display){
             															document.getElementById(id2).style.removeProperty('display');
             															document.getElementById(id1).style.display= 'none';
    															}
    															else{
             															document.getElementById(id1).style.removeProperty('display');
             															document.getElementById(id2).style.display= 'none';
    															}
															}
														</script>
                                                        <i class="bi bi-pen-fill" th:onclick="'javascript:change3(' + ${order.order_id} + ');'"></i>
														 
                                                        </span>
                                                        <span th:id="|change3_${order.order_id}|" style="display:none">
          													<form th:action="@{/washerman/order/edit/{id} (id=${order.order_id})}" method="POST" th:object=${neworder}>
          														<select class="form-control-xl dropdown" th:name="status_of_orders" placeholder="Status" id="status" th:value="${order.status_of_orders}" required>
                               										 <option value="Unwashed" th:selected="${order.status_of_orders}=='Unwashed'">Unwashed</option>
                                									 <option value="Washed and Unpaid" th:selected="${order.status_of_orders}=='Washed and Unpaid'">Washed and Unpaid</option>
                                									 <option value="Washed and Paid" th:selected="${order.status_of_orders}=='Washed and Paid'">Washed and Paid</option>
                                									 
                         										</select>
                         										 <button type="submit" id="submit" style="padding: 0;border: none;background: none;"><i class="bi bi-check2-circle" style="padding: 5px 0px 0px 0px; font-size: 20px; color:green; font-weight: 1000;"></i></button>
          													</form>
        												</span>
																		
																		</td>
																	</tr>

                                                                    

                                                                </tbody>
                                                                
                                                            </table>
                                                            
                                                           
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="paid" role="tabpanel"
                                                        aria-labelledby="profile-tab">
                                                        <div class="table-responsive"
                                                            style="max-height: 400px; overflow-y: auto;">
                                                            <table class="table table-striped">
                                                                <thead
                                                                    style="position:sticky;top:0;z-index:100;background-color: white;">
                                                                    <tr>

                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Id</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Order Date</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Student Details</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Quantity of Clothes</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Wash/Iron</th>
                                                                        <th style="position:sticky;top:0;z-index:100;">
                                                                            Cost</th>
																		<th style="position:sticky;top:0;z-index:100;">
                                                                            Status</th>
																		
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
																	<tr th:each="order:${orders_paid}">
																		<td th:text="${order.order_id}"/>
																		<td th:text="${order.order_date}"/>
																		<td>
                                                                        	<span th:text="${userservice.findByUserId(service.getStudentbyId(order.student_roll_no).user_id).name}" />
                                                                        	<br>
                                                                        	Roll No.->
                                                                        	<span th:text="${order.student_roll_no}";/>
                                                                            <br>
                                                                        	Room No.->
                                                                        	<span th:text="${service.getStudentbyId(order.student_roll_no).room_number}";/>
                                                                        </td>
																		<td>
																			Uppers: <span th:text="${order.number_uppers}"/><br>
																			Lowers: <span th:text="${order.number_lowers}"/><br>
																			Sheet:  <span th:text="${order.number_sheets}"/>
																		</td>
																		<td>
																			<span th:if="${order.to_wash==1}">Wash</span>
																			<span th:if="${order.to_iron==1}"><br>Iron</span>
																		</td>
																		<td th:text="${order.cost}"/>
																		<td>
																		<span th:id="|s4_${order.order_id}|">
                                                       
                                                        <span th:text="${order.status_of_orders}"></span>
                                                        <script>
															function change4(id){
    															let id1 = "s4_"+id;
    															let id2 = "change4_"+id;
    															if(document.getElementById(id2).style.display){
             															document.getElementById(id2).style.removeProperty('display');
             															document.getElementById(id1).style.display= 'none';
    															}
    															else{
             															document.getElementById(id1).style.removeProperty('display');
             															document.getElementById(id2).style.display= 'none';
    															}
															}
														</script>
                                                        <i class="bi bi-pen-fill" th:onclick="'javascript:change4(' + ${order.order_id} + ');'"></i>
														 
                                                        </span>
                                                        <span th:id="|change4_${order.order_id}|" style="display:none">
          													<form th:action="@{/washerman/order/edit/{id} (id=${order.order_id})}" method="POST" th:object=${neworder}>
          														<select class="form-control-xl dropdown" th:name="status_of_orders" placeholder="Status" id="status" th:value="${order.status_of_orders}" required>
                               										 <option value="Unwashed" th:selected="${order.status_of_orders}=='Unwashed'">Unwashed</option>
                                									 <option value="Washed and Unpaid" th:selected="${order.status_of_orders}=='Washed and Unpaid'">Washed and Unpaid</option>
                                									 <option value="Washed and Paid" th:selected="${order.status_of_orders}=='Washed and Paid'">Washed and Paid</option>
                                									 
                         										</select>
                         										 <button type="submit" id="submit" style="padding: 0;border: none;background: none;"><i class="bi bi-check2-circle" style="padding: 5px 0px 0px 0px; font-size: 20px; color:green; font-weight: 1000;"></i></button>
          													</form>
        												</span>
																		
																		</td>
																	</tr>

                                                                    

                                                                </tbody>
                                                                
                                                            </table>
                                                            
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                

                            </div>
                        </div>
             
                </div>
            </div>
        </div>
        </div>
        </div>
       

    
</html>
